@use '../../styles/mixin' as *;
@use '../../styles/variables' as *;

.quote {
    @include display-flex;

    flex-direction: column;
    justify-content: end;
    width: fit-content;
    margin: 0 auto;

    &-text {
        position: relative;
        display: inline-block;
        border: 0.1rem solid var(--color-gray);
        transition: padding 200ms ease;
        padding: 2rem;

        &__p {
            display: inline-block;
            font-size: clamp(16px, 2vw, 20px);
        }

        &__img1 {
            position: absolute;
            top: -1.5rem;
            left: 1rem;
            background-color: var(--color-bg);
            [data-theme='light'] & {
                content: url('/public/icons/quote-pows/pows2.svg');
            }
        }

        &__img2 {
            position: absolute;
            bottom: -1.5rem;
            right: 1rem;
            background-color: var(--color-bg);
            [data-theme='light'] & {
                content: url('/public/icons/quote-pows/pows2.svg');
            }
        }

        // @media (hover: hover) and (pointer: fine) {
        //     &:hover:not(:has(.quote-text__img1:hover, .quote-text__img2:hover)) {
        //         padding: 3rem;

        //         .quote-text__img1 {
        //             top: 0.5rem;
        //             left: 0.5rem;
        //             transform: rotate(-15deg);
        //         }

        //         .quote-text__img2 {
        //             bottom: 0.5rem;
        //             right: 0.5rem;
        //             transform: rotate(-15deg);
        //         }
        //     }
        // }
    }

    &-avtor {
        display: inline-block;
        border: 0.1rem solid var(--color-gray);
        padding: 1.3rem;
        align-self: flex-end;
        border-top: none;
        text-align: center;

        &__name {
            display: inline-block;
            font-size: clamp(16px, 2vw, 20px);
        }
    }
}
