
/* тимчасовий клас для анімації при перемиканні теми */
.theme-transition,
.theme-transition * {
  transition: 
    background-color .25s ease,
    color .25s ease,
    border-color .25s ease,
    box-shadow .25s ease,
    fill .25s ease,
    stroke .25s ease;
}


.container {
    padding: 0 2rem;
    max-width: 104rem;
    margin: 0 auto;
}
