@mixin display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin anim-hover-link {
    transform: rotate(2deg) translateY(-0.1rem);
    filter: drop-shadow(0 0 3px #c365dd);
}

@mixin anim-hover-btn {
    background-color: #c778dd38;
    border: 0.1rem solid #c778dd;
}

@mixin hover {
    /* Явно анімуємо transform та інші властивості */
    transition: all 180ms ease;
    transform-origin: center center;

    // для мишки
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
        // стандартний :active для мишки
        &:active {
            transform: scale(0.95) translateY(3%) ;
        }
    }

    // для клавіатури
    &:focus-visible {
        @content;
    }

    // для сенсорних пристроїв (натискання пальцем)
    @media (hover: none) and (pointer: coarse) {
        &:active {
            background-color: #c365ddbd;
            border-radius: none;
            transform: scale(0.95) translateY(3%) ;
        }
    }
}
