@mixin display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin anim-hover-link {
    transform: rotate(3deg) translateY(-0.1rem);
    filter: drop-shadow(0 0 3px #c365dd);
}

@mixin anim-hover-btn {
    color: var(--color-text-header-hover);
    background-color: #c778dd38;
    border: 0.1rem solid #c778dd;
}

@mixin hover {
    // встановлюємо стандартну тривалість переходу для hover-помічених елементів
    transition: transform 180ms cubic-bezier(0.2, 0.9, 0.3, 1), color 180ms ease, opacity 180ms ease;
    transform-origin: center center;
    // для мишки
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }

        // стандартний :active для мишки
        &:active {
            @content;
        }
    }

    // для клавіатури
    &:focus-visible {
        @content;
    }

    // для сенсорних пристроїв (натискання пальцем)
    @media (hover: none) and (pointer: coarse) {
        &:active {
            transform: scale(0.9); /* зменшується */
            will-change: transform;
            @content;
        }
    }
}
