@mixin display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
  &:focus-visible {
    @content;
  }
}