// Фонові кольори
$color-bg-light: #d3d3d3;
$color-bg-dark: #282C33;

// Текст
$color-text-light: #FFFFFF;
$color-text-dark: #282C33;

$color-primary: #c365dd;


$font-size-bace: 1.6rem;
$font-size-mobile: 1.8rem;


// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;