@use '../../styles/mixin' as *;
@use '../../styles/variables' as *;

.header {
    position: relative;
    background-color: var(--color-bg);
    .wrapper {
        position: relative;
        min-height: 7rem;
        @include display-flex;
        justify-content: space-between;
    }

    &-social {
        max-width: 2rem;
        position: absolute;
        top: -10rem;
        right: 105%;

        @include display-flex;
        flex-direction: column;
        gap: 0.8rem;

        will-change: transform;
        transform-origin: left center;
        animation: social-sway 3.5s ease-in-out infinite alternate;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                animation-play-state: paused;
                .a2,
                .a3,
                .a4 {
                    animation-play-state: paused !important;
                }
            }
            // стандартний :active для мишки
            &:active {
                transform: scale(0.95) translateY(3%);
            }
        }

        @media (hover: none) and (pointer: coarse) {
            &:active {
                animation-play-state: paused;
                .a2,
                .a3,
                .a4 {
                    animation-play-state: paused !important;
                }
            }
        }

        &__line {
            display: block;
            margin: 0 auto;
            height: 30rem;
            width: 0.1rem;
            background-color: var(--color-text-header);
        }

        /* keyframes для хитання */
        @keyframes social-sway {
            from {
                transform: translateX(1rem) rotate(-3deg);
            }

            to {
                transform: translateX(-1rem) rotate(3deg);
            }
        }

        @media (max-width: 1250px) {
            top: -15rem;
            right: 5%;
        }

        @media (max-width: $bp-md) {
            display: none;
        }
    }

    &-logo {
        @include display-flex;
        gap: 0.8rem;
        z-index: 99;

        &__img {
            width: 2rem;
            height: 2rem;
        }
        &__title {
            font-size: $font-size-bace;
            @media (max-width: $bp-md) {
                font-size: $font-size-mobile;
            }
        }
    }

    &-content {
        @include display-flex;
        gap: 2rem;

        &__ul {
            @include display-flex;
            gap: 2rem;
        }
        &__list {
            list-style-type: none;
        }
        &__link {
            display: inline-block;
            font-size: $font-size-bace;
            color: var(--color-text-header);
            transition: all 0.2s ease;
            padding: 0.7rem 1rem;

            @include hover {
                @include anim-hover-link;
                color: var(--color-text-header-hover);
                & span {
                    font-weight: 600;
                }
            }
            & span {
                color: $color-primary;
            }
        }

        &__setup {
            @include display-flex;
            gap: 2rem;
        }

        @media (max-width: $bp-md) {
            display: none;
            top: 100%;
            left: 0;
            flex-direction: column;

            &__link {
                font-size: $font-size-mobile;
            }
            &__ul {
                flex-direction: column;
                align-items: start;
                gap: 1.5rem;
            }

            &__setup {
                margin-top: 2rem;
                flex-direction: column;
                align-items: start;
                gap: 1.5rem;
            }
        }
    }

    &__burger-btn {
        display: none;
        position: relative;
        height: 3rem;
        width: 3rem;

        & span {
            transition: top 300ms cubic-bezier(0.2, 0.9, 0.3, 1),
                transform 800ms cubic-bezier(0.2, 0.9, 0.3, 1), width 300ms;
            transform-origin: center;
        }
        &[aria-expanded='false'] {
            & span:nth-child(1) {
                position: absolute;
                top: 20%;
                right: 0;
                height: 0.2rem;
                width: 100%;
                background-color: var(--color-text-header);
                border-radius: 1rem;
            }
            & span:nth-child(2) {
                position: absolute;
                top: 50%;
                right: 0;
                height: 0.2rem;
                width: 65%;
                background-color: var(--color-text-header);
                border-radius: 1rem;
            }
        }

        &[aria-expanded='true'] {
            & span:nth-child(1) {
                position: absolute;
                top: 50%;
                right: 0;
                height: 0.2rem;
                width: 100%;
                transform: rotate(45deg);
                background-color: var(--color-text-header);
                border-radius: 1rem;
            }
            & span:nth-child(2) {
                position: absolute;
                top: 50%;
                right: 0;
                height: 0.2rem;
                width: 100%;
                transform: rotate(-405deg);
                background-color: var(--color-text-header);
                border-radius: 1rem;
            }
        }

        @media (max-width: $bp-md) {
            display: block;
        }
    }
    &-burger {
        display: none;
        position: absolute;
        top: 100%;
        left: 2rem;
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
        border-radius: 1rem;
        background: var(--color-bg);
        padding: 1.5rem 1rem;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
        z-index: 30;
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(-120%);

        &__social-burg {
            margin-top: 3rem;
        }

        @media (max-width: $bp-md) {
            display: flex;
            opacity: 0;
        }
    }
}

.header-burger.active-burger {
    transform: translateX(0); /* плавне висування */
    opacity: 1;
}
